/* SPLIT SCREEN */

:root {
    --container-bg-color: rgba(0,0,0,0.45);
    --left-bg-color: rgba(0,0,0,0.45);
    --speed: 600ms;
    --left-button-hover-color:rgba(255, 255, 255, 0.3);

    --right-bg-color: rgba(0, 0, 0, 0.65);
    --right-button-hover-color:rgba(255, 255, 255, 0.3);

    --hover-width:75%;
    --other-width : 25%;
}

#landingbody, #landinghtml {
    padding:0;
    margin:0;
    font-family: 'Franklin Gothic Medium' , 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

h1{
    /* Semi Bold */
    font-size: 2rem;
    color:aliceblue;
    position: absolute;
    left:50%;
    top:38%;
    transform: translateX(-50%) ;
    white-space: nowrap;
    font-family: "Montserrat Medium";
}

@keyframes fadeInUp {
    from {
        transform: translateX(-50%) translate3d(0,40px,0)
    }

    to {
        transform: translateX(-50%) translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform:  translateX(-50%) translate3d(0,40px,0)
    }

    to {
        transform: translateX(-50%) translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

p1{
    /* Chang to other font, Sentient? */
    color:aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    width:350px;
    font-size: 1.3rem;
    left:50%;
    top:50%;
    transform: translateX(-50%); 
    text-align: center;
    

}

#logoImage{
    position: absolute;
    left: 50%;
    top: 10px;
    width:450px;

    transform:translateX(-50%);
}
#rightbar{
    right:5%;
    top:10%;
}

#createAccountButton{
    top: 210px;
}
#logInButton{
    top: 260px;
}
#logInRoseButton{
    top: 320px;
}

.form-control{
    background-color: rgb(255, 255, 255, 0.1);
    color: white;
}



.button{
    display:block;
    position:absolute;
    left:50%;
    top:70%;
    height: 2.5rem;
    padding-top: 0.4rem;
    width:15rem;
    text-align: center;
    color:white;
    border:#fff solid 0.1rem;
    font-size: 1rem;
    font-weight:bold;
    text-transform: uppercase;
    text-decoration: none;
    transform:translateX(-50%);

}

#about {
    top:5%;
    border:none;
    width:5rem;
    font-size: 0.7rem;
    padding-top: 0.7rem;
    color:#fff;
    left:15%;
   
}

#about1 {
    top:5%;
    border:none;
    width:5rem;
    color:#fff;
    font-size: 0.7rem;
    padding-top: 0.7rem;
    left:40%;

}

#about2 {
    top:5%;
    border:none;
    width:5rem;
    color:#fff;
    font-size: 0.7rem;
    padding-top: 0.7rem;
    left: 65%;
    
}

#about3 {
    top:5%;
    border:none;
    width:5rem;
    color:#fff;
    font-size: 0.7rem;
    padding-top: 0.7rem;
    left: 90%;
    
}
.split.left .button:hover{
    background-color: var(--left-button-hover-color);
    border-color: var(--left-button-hover-color);
    color: #2d2d2d;
    text-decoration: none;
}

#moveToLogin{
    color:#fff;
}

.split.right .button:hover{
    background-color: var(--right-button-hover-color);
    border-color: var(--right-button-hover-color);
    color: #2d2d2d;
    text-decoration: none;
}

#landingPage{
    
    margin-top:0px;
    margin-right:0px;
    margin-left: 0px; 
    padding:0;
    position:relative;
    width:100%;
    height:100%;
   
    /* background: var(--container-bg-color); */
    
}

#landingbody {
    background: url("..\\images\\Wet-leaves.jpg") center no-repeat;
}

.split{
    position:absolute;
    width:50%;
    height:100%;
    overflow:hidden;
}

.split.left{
    left:0;
    /* background: url("..\\images\\Wet-Leaves.jpg") center center no-repeat; */
    background-size:cover;

}

.split.left:before{
    position: absolute;
    content: "";
    width:100%;
    height: 100%;
    background :var(--left-bg-color)
}

.split.right{
    right:0;
    /* background: url("..\\images\\Wet-Leaves.jpg") center center no-repeat; */
    background-size:cover;

    backdrop-filter: blur(0.4rem);


}

.split.right:before{
    position: absolute;
    content: "";
    width:100%;
    height: 100%;
    background :var(--right-bg-color)
}

.split.left, .split.right, .split.right:before, .split.left:before {
    transition: var(--speed) all ease-in-out;

}

.hover-left .left{
    width: var(--hover-width);
}

.hover-left .right{
    width: var(--other-width);
}

.hover-left .right:before{
    z-index:2;
}

.hover-right .left{
    width: var( --other-width);
}

.hover-right .right{
    width: var(--hover-width);
}

.hover-right .left:before{
    z-index:2;
}

@media (max-width:800px){
    h1{
        font-size:2rem;
        top:40%;
    }

    p1{
        width:240px;
        font-size: 1rem;
    }

    .button{
        width:12rem;
    }
}

@media (min-height:700px){
    .button{
        top:65%;
    }
    #logoImage{
        
        top: 30%;
    }
    h1{
        top:37%;
    }
}


/* END SPLIT SCREEN */