/* Dark: 1F2B1F
Light: 364935 */

body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.btn {
    fill: darkgreen;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text_container {
    position: relative;
    text-align: center;
    color: white;
}

#logoImage {
    position: relative;
    left: 25px;
    top: 50%;
    bottom: 50%;
    height: 400px
}

#textBox {
    background: rgba(0, 0, 0, 0.7);
    height: auto;
    /* border-radius: 30px; */
    /* text-align: center; */
    /* align-content: right; */
    line-height: 250px;
    color: white;
    margin: 0 auto;

    position: relative;
    right: 25px;
    margin-right: 10px;
}



#left {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}

#right {
    position: absolute;
    text-align: right;
}


/* .container page-container {
    position: relative;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%);
    padding: 1rem;
     }  */


/* .left-half {
    grid-column: 1;
}

.right-half {
    background: rgba(0, 0, 0, 0.7);
    grid-column: 1;
    grid-template-rows: max-content;
} */

#fab {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: #800000;
    color: white;
    text-align: center;
    z-index: 999;
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #800000;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #ddd;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

#menuEdit,
#menuDelete {
    display: none;
}

.form-group {
    margin-bottom: 20px;
}

.card {
    margin: 10px 0;
}

#listPage .card-title,
#listPage .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leftside,
.rightside {
    height: 100vh;
    width: 100%;
}

@media screen and (min-width: 768px) {

    .leftside,
    .rightside {
        height: 100px
    }
}

.leftside {
    background: green;
}

.rightside {
    background: rgb(39, 39, 78)
}