/* Dark: 1F2B1F
Light: 364935 */

body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.btn{
    fill:darkgreen;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#fab {
    position:fixed;
    right:25px;
    bottom:25px;
    background: #800000;
    color:white;
    text-align: center;
    z-index: 999;
}