/*
Green
2d4632

Bamboo
efebd6

*/

body {
    background: #f5f5f5;
}

.navbar {
    background-color: #2d4632;
    color: white;
}

/* CSS styles for the card appearance */
    .article-card {
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin: 20px auto;
      max-width: 600px;
      background-color: #fff;
    }
    
    /* Additional CSS styles */
    header h1 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    
    header p {
      font-size: 14px;
      color: #888;
    }
    
    article h2 {
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    article p {
      line-height: 1.5;
    }
    
    footer {
      margin-top: 20px;
      font-size: 14px;
      color: #888;
    }

    .navigation {
      text-align: center;
      margin-top: 20px;
    }
    
    .navigation button {
      padding: 10px 20px;
      margin: 0 10px;
      font-size: 16px;
      background-color: #70a487;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }
    
    .navigation button:hover {
      background-color: #5e8e6f;
    }

#moveToHoroscopePageButton{
    background-color: #2d4632;
}
#moveToEightballButton{
    background-color: #2d4632;
}

.page-container {
    margin-top: 75px;
}

.btn {
    fill: darkgreen;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


#fab {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background: #800000;
    color: white;
    text-align: center;
    z-index: 999;
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #2d4632;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #ddd;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

#menuEdit,
#menuDelete {
    display: none;
}

.form-group {
    margin-bottom: 20px;
}

.card {
    margin: 10px 0;
}

#listPage .card-title,
#listPage .card-subtitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

